/*GENERAL STYLING*/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .2vw;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    overflow-x: hidden;
    user-select: none;
}

body.fade-out {
    opacity: .1;
}

/*Heading 1 elements*/
h1{
    text-transform: uppercase; 
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 3%; /*adds a small margin above h1 elements*/
    color: #1a1a1a;
}

/* Heading 1 elment hover*/
h1:hover {
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
}

/*styling for portfolio title text*/
.white_text {
    color: black;
    padding-top: 10vh;
}

/*  Paragraph elements */
p {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 2.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

/*paragraph element hover effect*/
p:hover {
    transition: transform 1s;
    transform: scale(1.01);
}

/*center class - this applies to all elements with the class "center"*/
.center {
    text-align: center;
}

/* center class hover effect - this only affects the quote, github link, and footer*/
.center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/*Anchor elements*/
a {
    color: midnightblue;
    cursor: pointer;
    text-decoration: underline;
}

/*quotation elements*/
q {
    font-style: oblique;
}

/*image elements*/
img {
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    display: block; /*specifying block display can ensure our images are able to be centered*/
    margin: auto auto auto auto; /*centers all images*/
}

/*image element hover effects*/
img:hover {
    transition: transform 1s;
    transform: scale(1.1);
}

/*styling for footer element*/
footer {
    padding: 2%;
    background-color: blanchedalmond;
}
/*END OF GENERAL STYLING*/

/*NAVBAR STYLING*/
.Navbar {
    overflow: hidden;
    background-color: blanchedalmond;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

/*moveNav animation effect for moving the navbar in from the left of the screen*/
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

/*Navbar links*/
.Navbar a {
    float: left;
    display: block;
    color: black;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}

/* moveNavText animation effect for moving the navabr text from above the view to the navbar*/
@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

/*Navbar hover effects*/
.Navbar a:hover {
    background-color: beige;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in;
} 

/*navbar home button*/
.Navbar a.active { /*this targets the element  on the navbar with the "active" class*/
    background-color: beige;
}
/*END NAVBAR STYLING*/

/*VIDEO STYLING*/
/*formatting for background video*/
#Typing_Video {
    position: fixed;/*this was fixed before im gonna change to see if itll fix*/
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1 /*this places the video behind the other elements on the page*/
}

/*screens that are 576px and smaller will not display the background video*/
@media screen and (max-width: 576px) {
    #Typing_Video {
        display: none;
    }
}

/*Texts over the video*/
.Video_Text {
    background: rbga(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100vh;
    padding-top: 2vh;
    position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

/*this animation effct causes the overlay video text to move up from the bottom of the page upon page load*/
@keyframes moveVideoText {
    from{top: -100vw;}
    to{top: 0vw;}
}
/*END OF VIDEO STYLING*/

/*Slideshow styling*/
#Slideshow_Background {
    background: rgba(255, 255, 255, 0.35);
}

.mySlides{
    display: none;
}

/*slideshow section/ container*/
#Slideshow_Container {
    width: 39.5vw; /* Relative sizing of the container for the slidewshow set to 39.5% of the viewport width */
    height: auto; /* The height of the container is automatically adjusted based on the content it is displaying */
    padding-top: 4%; /* Adds a small padding to the top of the slideshow container */
    position: relative; /* This sets the container relative to its normal positioning */
    margin:auto;
}

/* Remove the underline from the previous and next buttons on the slideshow */
#Slideshow_Container a {
    text-decoration: none;
}

/* Images contained within the slideshow */
.Slideshow_Images {
    vertical-align: middle; /* This centers the images vertically within the slideshow container */
    height: auto; 
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75); 
    width: 100%;
}
/*buttons for slideshow*/
.Previous, .Next {
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    width: auto; 
    padding: 2vw; 
    color: darkgray; 
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none; 
    transition: 0.6s ease;
}

/*positions the next button on the right hand side*/
.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*hover effect for slide show button*/
.Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/*slideshow text*/
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Perpeuta, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}

.active, .dot:hover {
    background-color: black;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;} 
}

@keyframes fade {
    from {opacity: .4;} 
    to {opacity: 1;} 
}
/*END slideshow styling*/

/*TABLE STYLING*/
* {
    box-sizing: border-box; /*This creates a box within a border within which most of the text will be placed*/
}

.Column_1 {
    float: left;
    width: 50%; /*this ensures the column only takes up half the page width*/
    padding: 1.6%;
    height: 450px;
    background-color: floralwhite;
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: oldlace;
}

/*This insertes somethinb after the content of selected elements*/
.Row:after {
    content: " ";
    display: table;
    clear: both;
}
/*END OF TABLE STYLING*/

/*CONTACT FORM STYLING i decided to wirte in the comments to refer back to later*/
.Pop_Up_Button {
    position: fixed; 
    bottom: 1.75vw; 
    right: 1.75vw; /* Positions the viewport slightly right from the side of the viewport */
    width: 25vw; 
    background-color: white; 
    color: black; 
    border: solid black; 
    cursor: pointer;
    -webkit-animation: movePopup 5s; /* Animation for 5 seconds for Safari 4.0-8.0 */
    animation: movePopup 5s; /* Animation set for 5 seconds */
}

/* movePopup animation moves the button from off the right side of the screen to its fixed location on the viewport */
@keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

/* Styling for the contact form */
.form-popup {
    z-index: 8; /* This z-index ensures the contact form shows above all other elements on the page */
    display: none; /* Set the display to none, we will use JavaScript to show the contact form */
    position: fixed; /* The form stays in the same location no matter what */
    bottom: .5vw; /* Slightly up from the bottom of the viewport */
    right: .5vw; /* Slightly in from the right side of the viewport */
}

/* Form styling */
.form-container {
    max-width: 49vw; 
    padding: 1vw; 
    background-color: white; 
}

/* Input fields */
.form-container input[type=text] {
    width: 100%;
    padding: .93vw; 
    margin: .6vw 0 .6vw 0; 
    border: none; 
    background: Gainsboro;
    font-size: 1vw; 
}

/* General styling for all buttons */
button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw; 
    font-size: 1.5vw; /* Relative sizing of text */
    font-weight: bold; 
    padding: 1.5vw; 
    cursor: pointer; 
    width: 100%;
    height: auto; 
}

/* Hover effect for contact and submit buttons */
button:hover, .form-container .btn:hover {
    color: white; 
    background-color: black; 
    transition-duration: 1s;
    -webkit-transition-duration: 1s; /* For Safari 4.0-8.0 */
    border-color: silver;
}

/* Submit button */
.form-container .btn {
    background-color: white; 
    color: black;
    border-color: black;
    margin-bottom: 1vh; /* Adds space between the submit button and the close button */
}

/* Close button */
.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

/* Styling for close button on hover */
.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}
/***** End of Contact Form Styling *****/

/***** Media Query Section *****/
/*Media rules for paragraph font size for different screen sizes*/
@media screen and (max-width: 527px) {
    p {
        font-size: 3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    } 
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}

@media screen and (max-width: 1080px) {
    .Navbar a{
        width: 20%; /* This sets each navbar link to 1/5 of the navbar */
        font-size: 2.5vw;
    }
}

/* Media rules to enlarge the font of the white text for smaller screens */
@media screen and (max-width: 1080px) {
    .quote{
        font-size: 3.5vw;
    }

    .white-text {
        font-size: 4.5vw;
    }
}


@media screen and (min-width: 1725px) {
    .Column_1 {
        height: 550px;
    }
    .Column_2 {
        height: 550px;
    }
}


@media screen and (min-width: 2000px) {
    h1{
        margin-top: 0;
    }
}
/***** End of Media Query Section *****/